<html>
    <link href="assets/style.css" rel="stylesheet" type="text/css" />
<head>
    <meta name="viewport" content="width=device-width">
    <style>
        body {
            background-color: lightslategray;
            color: black;

        }

        .box-profile {
            height: 100px;
            width: 100px;
            background-color: white;
            border: 1px solid black;
            border-radius: 50%;
        }

        .profile-font {
            font-size: 30px;
            font-weight: bolder;
            font-family: 'Times New Roman', Times, serif;
            font-style: italic;

        }

        .edit-profile-button {
            position: absolute;
            top: 6em;
            left: 12rem;
            height: 25px;
            width: 80px;
            border: 2px solid black;
            background-color: skyblue;
            padding: 6px;
            text-align: center;
        }
        .edit-update-button{
            position: relative;
          display: none;
            left: 12rem;
            height: 35px;
            width: 80px;
            border: 2px solid black;
            background-color: skyblue;
            padding: 6px;
            text-align: center;
}
    </style>

</head>


<body>
    <!--<%var mess="Edit profile";%>
    
    <% if(path=="/profile"){%>
        <%  mess="Edit Profile"
       
      }
      else{
          mess=""
          
          
          %>
          
     <% }
      %>--> <span style="font-size:30px;cursor:pointer" onclick="openNav()" >
        &#9776;
    </span>    
      
    <div id="MySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a  href="profile">Profile </a>  
          <a  href="main">Home</a>  
          <a  href="ShopByCategory"> ShopByCategory </a>   
          <a href="orders"> Your Orders</a>  
          <a href="addtocart"> Cart</a>
          <a href="wishlist">Wish List</a> 
          <a href="Settings">Settings</a>
          <a href="contact">Contact</a>
          <a href="logout">Logout</a>       
       </div>
      
    <div class="box-profile">

    </div></br></br>
    <a href="editProfile" id="update-profile-link"><div class="edit-profile-button">Edit Profile</div></a>
    <form action="updateProfile" method="POST" id="myform">
        
    <div class="profile-font"><br><br>

      First Name:&nbsp;&nbsp;&emsp;&emsp;&nbsp;<input class="profile-font" type="text" name="Fname"
            value="<%-data.Fname%>" readOnly></br></br>
        Last Name:&nbsp;&nbsp;&emsp;&emsp;&nbsp;&nbsp;<input class="profile-font" type="text" name="Lname"
            value=" <%-data.Lname%>" readOnly></br></br>
        Birth Date:&nbsp;&nbsp;&nbsp;&emsp;&emsp;&nbsp;<input class="profile-font" type="text" value="<%=data.birthdate%>" name="birthdate"
            readOnly></br></br>
       
        Country:&nbsp;&nbsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;<input class="profile-font" type="text" value="<%=data.Country%>" name="Country"
            readOnly></br></br>
        State:&nbsp;&nbsp;&emsp;&nbsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;&nbsp;<input class="profile-font" type="text" value="<%=data.state%>" name="state"
           readOnly></br></br>
        Email-Id:&nbsp;&nbsp;&nbsp;&nbsp; &emsp;&emsp;&nbsp;&nbsp;<input class="profile-font" type="text" value="<%=data.email%>" name="email"readOnly></br></br>
        Mobile Number:&nbsp;&nbsp; &nbsp;<input class="profile-font" type="text" value="<%=data.mobilenumber%>" name="mobilenumber" readOnly></br></br>
        Password:&emsp;&emsp;&emsp;&nbsp;&nbsp;&nbsp;<input class="profile-font" type="pass" name="pass" value="<%=data.pass%>" readOnly></br></br>
        <button type="submit" id="edit-update-button" class="edit-update-button">Update</button>
    </div>
</form>
    

<script>
    
    function openNav() {
  document.getElementById("MySidenav").style.width = "250px";
}

function closeNav() {
  document.getElementById("MySidenav").style.width = "0";
}    
var k="<%=path%>";
if(k=="/editProfile"){
    var z=document.getElementById("update-profile-link").style;
    z.display="none";
    var k=document.getElementsByClassName("profile-font");
    var m=document.getElementById("edit-update-button").style;
    m.display="block";
    for(let i=0;i<k.length;i++)
    {
        if(k[i].name!="email")
            k[i].readOnly=false;
           
    }
    
    
}

</script>
</body>

</html>