<html>
    <link href="assets/style.css" rel="stylesheet" type="text/css" />
<head>
    <meta name="viewport" content="width=device-width">
    <style>
        body {
            background-color: lightslategray;
            color: black;

        }

        .box-profile {
            height: 100px;
            width: 100px;
            background-color: white;
            border: 1px solid black;
            border-radius: 50%;
        }

        .profile-font {
            font-size: 30px;
            font-weight: bolder;
            font-family: 'Times New Roman', Times, serif;
            font-style: italic;

        }

        .edit-profile-button {
            position: absolute;
            top: 6em;
            left: 12rem;
            height: 25px;
            width: 80px;
            border: 2px solid black;
            background-color: skyblue;
            padding: 6px;
            text-align: center;
        }
        .edit-update-button{
            position: relative;
          display: none;
            left: 12rem;
            height: 35px;
            width: 80px;
            border: 2px solid black;
            background-color: skyblue;
            padding: 6px;
            text-align: center;
}
    </style>

</head>


<body>
    <!--<%var mess="Edit profile";%>
    
    <% if(path=="/profile"){%>
        <%  mess="Edit Profile"
       
      }
      else{
          mess=""
          
          
          %>
          
     <% }
      %>--><button onclick="HideOrShowMenu()" class="button2">
        <div class="SingleBarInMenu"></div>
        <div class="SingleBarInMenu"></div>
        <div class="SingleBarInMenu"></div>
    </button> <br><br>     
      <div id="MenuBar" class="a">
        <a  href="profile"><button  class="button1">profile</button> <br><br></a>  
          <a  href="main"><button  class="button1">home</button> <br><br></a>  
          <a  href="ShopByCategory"> <button  class="button1">Shop by Category</button><br><br> </a>   
          <a href="orders"> <button  class="button1">Your Orders</button> <br>  <br></a>  
          <a href="cart"> <button  class="button1"> cart</button>   <br><br></a>
          <a href="Wishlist"><button  class="button1"> wish list</button>  <br> <br></a> 
          <a href="Settings"><button  class="button1">Settings</button>   <br> <br></a>
          <a href="contact"><button  class="button1">contact</button>  <br>  <br></a>
          <a href="logout"><button  class="button1">Logout</button>  <br>  <br></a>       
       </div>
      
    <div class="box-profile">

    </div></br></br>
    <a href="editProfile" id="update-profile-link"><div class="edit-profile-button">Edit Profile</div></a>
    <form action="updateProfile" method="POST" id="myform">
        
    <div class="profile-font"><br><br>

      First Name:&nbsp;&nbsp;&emsp;&emsp;&nbsp;<input class="profile-font" type="text" name="Fname"
            value="<%-data.Fname%>" readOnly></br></br>
        Last Name:&nbsp;&nbsp;&emsp;&emsp;&nbsp;&nbsp;<input class="profile-font" type="text" name="Lname"
            value=" <%-data.Lname%>" readOnly></br></br>
        Birth Date:&nbsp;&nbsp;&nbsp;&emsp;&emsp;&nbsp;<input class="profile-font" type="text" value="<%=data.birthdate%>" name="birthdate"
            readOnly></br></br>
       
        Country:&nbsp;&nbsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;<input class="profile-font" type="text" value="<%=data.Country%>" name="Country"
            readOnly></br></br>
        State:&nbsp;&nbsp;&emsp;&nbsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;&nbsp;<input class="profile-font" type="text" value="<%=data.state%>" name="state"
           readOnly></br></br>
        Email-Id:&nbsp;&nbsp;&nbsp;&nbsp; &emsp;&emsp;&nbsp;&nbsp;<input class="profile-font" type="text" value="<%=data.email%>" name="email"readOnly></br></br>
        Mobile Number:&nbsp;&nbsp; &nbsp;<input class="profile-font" type="text" value="<%=data.mobilenumber%>" name="mobilenumber" readOnly></br></br>
        Password:&emsp;&emsp;&emsp;&nbsp;&nbsp;&nbsp;<input class="profile-font" type="pass" name="pass" value="<%=data.pass%>" readOnly></br></br>
        <button type="submit" id="edit-update-button" class="edit-update-button">Update</button>
    </div>
</form>
    

<script>
    
    function HideOrShowMenu() {
            var ToggleMenuBar = document.getElementById("MenuBar").style;
            /*var b=document.getElementById("pd");*/
            
            if (ToggleMenuBar.display == "none"  || ToggleMenuBar.display==='') {
                ToggleMenuBar.display = "block";
            } else {
                ToggleMenuBar.display = "none";
            }
            
            }
var k="<%=path%>";
if(k=="/editProfile"){
    var z=document.getElementById("update-profile-link").style;
    z.display="none";
    var k=document.getElementsByClassName("profile-font");
    var m=document.getElementById("edit-update-button").style;
    m.display="block";
    for(let i=0;i<k.length;i++)
    {
        if(k[i].name!="email")
            k[i].readOnly=false;
           
    }
    
    
}

</script>
</body>

</html>