<html>

<head>
  <link href="assets/style.css" rel="stylesheet" type="text/css" />
</head>


<body>
  <span style="font-size:30px;cursor:pointer" onclick="openNav()" >
    &#9776;
   </span> 
  
   <div id="MySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a  href="profile">Profile </a>  
      <a  href="main">Home</a>  
      <a  href="ShopByCategory"> ShopByCategory </a>   
      <a href="orders"> Your Orders</a>  
      <a href="cart"> Cart</a>
      <a href="Wishlist">Wish List</a> 
      <a href="Settings">Settings</a>
      <a href="contact">Contact</a>
      <a href="logout">Logout</a>       
   </div>

  <div id="CategoryList">


    <a href="#" category-type="women" onclick="ShowItemsByCategory('women')"> <button class="button1">WOMEN'S
        FASHION</button></a> 
    <a href="#" category-type="mens" onclick="ShowItemsByCategory('mens')"><button class="button1"> MEN'S
        FASHION</button></a> 
    <a href="#" category-type="kids" onclick="ShowItemsByCategory('kids')"><button class="button1">KID'S
        FASHION</button></a> 
    <a href="#" category-type="electronics" onclick="ShowItemsByCategory('electronics')"><button
        class="button1">ELECTRONICS</button></a> 
    <a href="#" category-type="mobilelaptop" onclick="ShowItemsByCategory('mobilelaptop')"><button
        class="button1"> MOBILES COMPUTERS</button></a>
   
    <a href="#" category-type="utensils" onclick="ShowItemsByCategory('utensils')"><button
        class="button1">HOUSEHOLD SUPPLIES</button></a>
    
    <a href="#" category-type="books" onclick="ShowItemsByCategory('books')"><button class="button1">BOOKS</button></a>
    
    <a href="#" category-type="movie-tickets" onclick="ShowItemsByCategory('movie tickets')"><button
        class="button1">MOVIE TICKETS</button></a> 
    <a href="#" category-type="recharge" onclick="ShowItemsByCategory('recharge')"><button class="button1">
        RECHARGE</button></a> 

  </div>


  <div class="ShowItems" id="kids">

    <% data_kids.forEach((test)=>{%>
    <a href="/temporders?imgpath=<%=test.imgpath%>&value=<%=test.price%>">
      <div class="card">

        <img src="/assets/images/<%=test.imgpath%>" style="width:100%">
        <div class="container">
          <p><%=test.description%> </p>
          <p>price :<%=test.price%></p>
        </div>
      </div>

    </a>
    <%});%> </br>
  </div>


  <div class="ShowItems" id="mens">

    <% data_men.forEach((test)=>{%>
    <a href="/temporders?imgpath=<%=test.imgpath%>&value=<%=test.price%>">
      <div class="card">

        <img src="/assets/images/<%=test.imgpath%>" style="width:100%">
        <div class="container">
          <p><%=test.description%> </p>
          <p>price :<%=test.price%></p>
        </div>
      </div>
    </a>
    <%});%>
  </div> <br><br><br><br><br><br><br><br>

  <div class="ShowItems" id="women">
    <% data_women.forEach((test)=>{%>
    <a href="/temporders?imgpath=<%=test.imgpath%>&value=<%=test.price%>">
      <div class="card">

        <img src="/assets/images/<%=test.imgpath%>" style="width:100%">
        <div class="container">
          <p><%=test.description%> </p>
          <p>price :<%=test.price%></p>
        </div>
      </div>
    </a>
    <%});%></br>
  </div>
  <div class="ShowItems" id="electronics">
    <% data_electronics.forEach((test)=>{%>
    <a href="/temporders?imgpath=<%=test.imgpath%>&value=<%=test.price%>">
      <div class="card">

        <img src="/assets/images/<%=test.imgpath%>" style="width:100%">
        <div class="container">
          <p><%=test.description%> </p>
          <p>price :<%=test.price%></p>
        </div>
      </div>
    </a>
    <%});%></br>
  </div>
  <div class="ShowItems" id="books">
    <% data_books.forEach((test)=>{%>
    <a href="/temporders?imgpath=<%=test.imgpath%>&value=<%=test.price%>">
      <div class="card">

        <img src="/assets/images/<%=test.imgpath%>" style="width:100%">
        <div class="container">
          <p><%=test.description%> </p>
          <p>price :<%=test.price%></p>
        </div>
      </div>
    </a>
    <%});%></br>
  </div>
  <div class="ShowItems" id="mobilelaptop">
    <% data_mobilelaptop.forEach((test)=>{%>
    <a href="/temporders?imgpath=<%=test.imgpath%>&value=<%=test.price%>">
      <div class="card">

        <img src="/assets/images/<%=test.imgpath%>" style="width:100%">
        <div class="container">
          <p><%=test.description%> </p>
          <p>price :<%=test.price%></p>
        </div>
      </div>
    </a>
    <%});%></br>
  </div>
  <div class="ShowItems" id="utensils">
    <% data_utensils.forEach((test)=>{%>
    <a href="/temporders?imgpath=<%=test.imgpath%>&value=<%=test.price%>">
      <div class="card">

        <img src="/assets/images/<%=test.imgpath%>" style="width:100%">
        <div class="container">
          <p><%=test.description%> </p>
          <p>price :<%=test.price%></p>
        </div>
      </div>
    </a>
    <%});%></br>
  </div>



  <script>
      function openNav()
       {
          document.getElementById("MySidenav").style.width = "250px";
        }

      function closeNav() 
      {
         document.getElementById("MySidenav").style.width = "0";
      }    


    var AllAttributesofTag = document.getElementById("CategoryList").getElementsByTagName("a");
    /*alert(AllAttributesofTag[1].getElementsByTagName("button")[0].innerHTML);*/
    var ArrayOfCategoryType = [];
    for (var i = 0; i < AllAttributesofTag.length; i++) {
      ArrayOfCategoryType.push(AllAttributesofTag[i].getAttribute("category-type"));
      AllAttributesofTag[i].getElementsByTagName("button")[0].style.width = "150px";
    }


    function ShowItemsByCategory(MatchCategory) {
      for (var j = 0; j < ArrayOfCategoryType.length; j++) {
        if (ArrayOfCategoryType[j] == MatchCategory) {
          var CheckCategoryVisibility = document.getElementById(MatchCategory).style;


          if (CheckCategoryVisibility.display == "none" || CheckCategoryVisibility.display === '') {
            CheckCategoryVisibility.display = "block";
            AllAttributesofTag[j].style.color = "red";
            AllAttributesofTag[j].style.fontFamily = "Arial";
            AllAttributesofTag[j].style.fontWeight = "bold";
            AllAttributesofTag[j].style.fontSize = "20";
          } else {
            CheckCategoryVisibility.display = "none";
            AllAttributesofTag[j].setAttribute("style", "color:''; fontFamily:'';fontWeight:'',fontSize=''");


          }
        }
        else {
          document.getElementById(ArrayOfCategoryType[j]).style.display = "none";
          AllAttributesofTag[j].setAttribute("style", "color:''; fontFamily:'';fontWeight:'',fontSize=''");
        }

      }


      /*  else
        {
            for(var j=0;j[i]!=y && j<m.length;j++)
            {
              var modi=document.getElementById(m[j]).style;
              modi.display="none";
            }
        }*/
    }
    

  </script>
</body>



</html>