<html>
<head>
    <link href="assets/style.css" rel="stylesheet" type="text/css" />
</head>

<style>

</style>
<body class="bo1">

<marquee behavior="alternate">Hello</marquee>
  
        <p>Retrieved values length are<%=data.length%> </p>

        
            <% for(var i=0; i<data.length; i++){%>
                
                
                <a href="#"><div class="card">
                    <img src="/assets/images/<%=data[i].imgpath%>" alt="image of jauger" style="width:100%"/>
                    <div class="container">
                    <p><%=data[i].title%> </p>
                    <p><%=data[i].price%></p> 
                    <p><%=data[i].category%></p>
                    </div>
                </div></a>
                
                
            <%}%>
            
   
    
</body>
</html>